# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de build
/dist

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDE e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.temp

# Arquivos de cobertura de testes
coverage/

# Arquivos de build do frontend (se aplicável)
/public/build/

# Outros
*.pid
*.seed
*.pid.lock

